@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff'),
       url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/robotomedium.woff2') format('woff2'),
       url('../fonts/robotomedium.woff') format('woff'),
       url('../fonts/Roboto-Medium.ttf') format('truetype');
  }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/robotobold.woff2') format('woff2'),
       url('../fonts/robotobold.woff') format('woff'),
       url('../fonts/Roboto-Bold.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 960px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url('../img/two_ice1.png');
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0 auto;
  min-width: 1200px;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.visible-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation,
.user-navigation,
.catalog-list,
.footer-socials,
.footer-info,
.breadcrumbs,
.basket-list,
.pagination,
.fat,
.fillers,
.slider-list {
  list-style: none;
}

.catalog-list a,
.footer-socials a,
.pagination a,
.basket-full a {
  text-decoration: none;
}

.site-navigation a,
.user-navigation a,
.main-contacts a,
.footer-info a,
.footer-socials a,
.footer-copyright a,
.breadcrumbs a,
.pagination a {
  color: #ffffff;
}

.user-login a:hover,
.user-login a:active,
.map-contacts .tel:hover,
.map-contacts .tel:active,
.news a:hover,
.news a:active{
  color: #e84d37;
}

.footer-copyright a:hover,
.footer-copyright a:active,
.footer-info a:hover,
.footer-info a:active,
.main-contacts .tel:hover,
.main-contacts .tel:active,
.basket-full-item a:hover,
.basket-full-item a:active,
.breadcrumbs a:hover,
.breadcrumbs a:active 
{
  color: #ffbc9e;
}

.button {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  color: #fefefe;
  text-decoration: none;
  text-shadow: 0 1px 5px rgba(57, 57, 57, 0.618);

  background-color: #eb563b;
  background-image: linear-gradient(#ee714e, #e84732);
  box-shadow: 0px 2px 3px #ac1000;
  border-radius: 30px;
  border: none;
  cursor: pointer;

  padding: 11px 23px;
  display: inline-block;
  vertical-align: middle;
}

.button:hover,
.button:focus {
  background-color: #f17c64;
  background-image: linear-gradient(#f17c64, #ed6c48);
}

.button:active {
  box-shadow: inset 0px 1px 3px #000000;
  background-color: #dc5639;
  background-image: linear-gradient(#e84732, #ee714e);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: inherit;
}

.main-nav .logo {
  padding-top: 9px;
  margin-right: 9px;
}

.main-nav > div,
.site-navigation,
.user-navigation {
  display: flex;
  align-items: flex-start;
}

.site-navigation,
.user-navigation {
  flex-wrap: wrap;
}

.main-nav li {
  padding-bottom: 7px;
}

.user-navigation {
  min-width: 263px;
  padding-top: 23px;
  justify-content: flex-end;
}

.site-navigation {
  padding-top: 24px;
  min-width: 380px;
}

.site-navigation a {
  padding: 6px 14px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}

.navigation-button {
  padding: 7px 16px;
  display: inline-block;
  vertical-align: middle;
}

.user-navigation li {
  margin-right: 11px;
  position: relative;
}

.user-navigation li:last-child {
  margin-right: 0;
}

.navigation-item span {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  border-bottom: 1px rgba(211, 211, 210, 0.2) solid;
}

.navigation-item:hover span {
  border: none;
}

.navigation-item:hover > a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  vertical-align: middle;
  text-decoration: none;

  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.navigation-item:active > a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  vertical-align: middle;
  text-decoration: none;
  box-shadow: inset 0px 1px 3px black;

  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
}

.site-navigation .navigation-item-current {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  text-decoration: none;
  box-shadow: none;

  background-color: #d07058;
  
  border-radius: 30px;
  border: none;
  cursor: pointer;

  width: 87px;
}

.navigation-item-current span {
  border: none;
}

.menu-catalog {
  position: relative;
}

.menu-catalog:hover .catalog-list {
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 10;

  display: flex;
  flex-direction: column;

  min-height: 173px;
  width: 144px;

  padding: 5px 0px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.6);
}

.catalog-list li {
  display: flex;
  flex-grow: 1;
  margin-bottom: 3px;
  padding: 0px 5px;
}

.catalog-list li:last-child {
  margin-bottom: 0px;
}

.catalog-list li:hover {
  background-color: #fbded7;
  color: #323232;
  cursor: pointer;
}

.catalog-list li:active {
  background-color: #f6b5a5;
  color: #323232;
  cursor: pointer;
}

.catalog-list .item-current {
  color: #ffffff;
  background-color: #d07058;
}

.catalog-list a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  width: 100%;

}

.catalog-list .strong {
  font-weight: 700;
  border-bottom: 1px #e4e4e3 solid;
}

.item-current > a {
  color: #ffffff;
}

.navigation-button {
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  color: #fefefe;
  text-decoration: none;
  
  height: 31px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  border: none;
  cursor: pointer;

  padding-left: 44px;

  display: inline-block;
  vertical-align: middle;
}

.user-item:hover .navigation-button {
  color: #323232;
  background-color: #f8f7f4;
}

.navigation-button.press {
  color: #323232;
  background-color: #f8f7f4;
}

.user-search .navigation-button {
  font-size: 0;
  padding-left: 32px;
  padding-right: 0;
}

.user-log svg,
.user-cart svg,
.user-basket svg {
  position: absolute;
  left: 16px;
  top: 5px;
}

.user-search svg {
  position: absolute;
  left: 8px;
  top: 6px;
}

.user-search path,
.user-log path,
.user-cart path {
  fill: #ffffff;
}

.user-search:hover path,
.user-log:hover path,
.user-cart:hover path,
.user-cart:hover circle {
  fill: #000000;
}

.user-search:hover .search {
  width: 342px;
  height: 84px;

  position: absolute;
  right: 0;
  top: 35px;
  z-index: 10;

  display: block;

  padding: 20px 16px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.6);
}

.search input {
  width: 100%;
  margin-right: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  border: 2px solid #d3d3d2;
  border-radius: 4px;
  height: 44px;
  cursor: text;
}

.search input:hover {
  border: 2px solid rgba(154,154,154,0.8);
  color: #323232;
}

.user-log:hover .user-login {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  width: 276px;
  height: 214px;

  position: absolute;
  right: 0;
  top: 35px;
  z-index: 10;

  display: block;

  padding: 20px 19px;
  padding-right: 16px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.6);
}

.user-login input {
  margin-right: 4px;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  border: 2px solid #d3d3d2;
  border-radius: 4px;

  width: 100%;
  height: 44px;
  cursor: text;
}

.user-login input:hover {
  border: 2px solid rgba(154,154,154,0.8);
  color: #323232;
}

.user-login .button {
  display: inline-block;
  vertical-align: middle;
}

.flex-login-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.login-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.login-wrapper a {
  color: #323232;
  font-size: 13px;
  line-height: 14px;
  font-weight: 400;
}

.user-basket:hover .basket-full {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  width: 540px;
  height: 242px;

  position: absolute;
  right: 0;
  top: 35px;
  z-index: 10;

  display: block;

  padding: 21px 16px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.6);
}

.basket-full .circle-ice {
  margin-right: 15px;
  min-width: 35px;
}

.basket-full .button {
  float: right;
  padding: 9px 14px;
}

.basket-list {
  border-bottom: 1px #cacac7 solid;
}

.basket-list .light {
  color: #999999;
}

.basket-list li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;
  padding-right: 20px;
}

.basket-full-item .del {
  margin-right: 8px;

  position: relative;
  width: 11px;
  height: 11px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.basket-full-item .del::before {
  width: 11px;
  height: 11px;
  background-image: url('../img/cross-small.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  cursor: pointer;
}

.basket-full-item a {
  width: 270px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #323232;
}

.basket-full-item {
  position: relative;
}

.basket-total {
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-top: 15px;
}

.offers {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  margin-bottom: 39px;
}

.offers article {
  width: 560px;
  min-height: 228px;
  border-radius: 15px;

  padding-left: 19px;
  padding-right: 21px;
  padding-top: 16px;
  padding-bottom: 23px;
}

.offers h2 {
  color: #ffffff;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;

  margin-bottom: 15px;
}

.offers p {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;

  margin-bottom: 44px;
}

.offers .button {
  float: right;
}

.offers .item-1 {
  background-color: #8a0d28;
  background-image: url('../img/back_berry.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.offers .item-2 {
  background-color: #3a1e0c;
  background-image: url('../img/back_choco.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.features {
  border-radius: 15px;
  min-height: 300px;
  background-color: #ecdfc6;
  background-image: url('../img/back_waf.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  padding-left: 18px;
  padding-right: 21px;
  padding-top: 25px;
  padding-bottom: 15px;

  margin-bottom: 40px;
}

.features-list {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.features-list > li {
  width: 540px;
  margin-right: 2px;
  margin-bottom: 8px;
  padding-left: 58px;
  padding-top: 14px;
  position: relative;
}

.features-list > li:nth-child(2n) {
  margin-right: 0;
}

.features-item-1::before {
  width: 49px;
  height: 49px;
  background-image: url('../img/ice-cream.svg');
  position: absolute;
  content: '';
  left: 2px;
  top: 0px;
}

.features-item-2::before {
  width: 49px;
  height: 49px;
  background-image: url('../img/cow.svg');
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
}

.features-item-3::before {
  width: 49px;
  height: 49px;
  background-image: url('../img/eco.svg');
  position: absolute;
  content: '';
  left: 2px;
  top: 0px;
}

.features-item-4::before {
  width: 49px;
  height: 49px;
  background-image: url('../img/thermometer.svg');
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
}

.features p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;

  margin-bottom: 8px;
}

.main-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  top: -239px;
  left: 0;
}

.products {
  position: relative;
  margin-bottom: 45px;
}

.products-items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.item-products {
  width: 270px;
  min-height: 324px;
  margin-bottom: 36px;
  text-align: center;
  position: relative;
  margin-right: 22px;
}

.products-items :nth-child(4n) {
  margin-right: 0px;
}

.item-products a {
  color: #ffffff;
  text-decoration: none;
}

.item-products div {
  position: relative;
  z-index: 1;
}

.item-products:hover div {
  position: relative;
  z-index: 15;
}

.item-products:hover {
  cursor: pointer;
}

.item-products .products-title { 
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
  padding-top: 8px;
  padding-left: 7px;
  width: 265px;
}

.item-products .products-weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.item-products .products-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  

  position: absolute;
  text-align: left;
  z-index: 20;
  top: 209px;
}

.products-price .price {
  padding-right: 34px;
  position: relative;
}

.products-price .price::after {
  width: 31px;
  height: 36px;
  background-image: url('../img/ruble.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  content: '';
  right: 0px;
  bottom: 8px;
}

.item-products::after {
  position: absolute;
  left: -13px;
  top: -8px;
  bottom: -75px;
  width: 296px;
  content: '';
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);;
  display: none;
  z-index: 5;
}

.item-products:hover::after {
  display: block;
}

.item-products .button {
  display: none;
  position: absolute;
  bottom: -55px;
  left: 30px;
  z-index: 20;
}

.item-products:hover .button {
  display: inline-block;
  vertical-align: middle;
}

.hits {
  margin-bottom: 2px;
}

.item-hit::before{
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url('../img/hit.svg');
  background-position: 0 0;
  z-index: 20;
  left: 2px;
  top: 1px;
}

.circle-ice {
  border-radius: 50%;
  background-clip: content-box;
}

.map {
  text-align: center;
  position: relative;
  padding: 0;
  margin-bottom: 0px;
  width: 100%;
}

.map-contacts {
  width: 302px;
  height: 305px;
  background-color: #fefefe;
  border-radius: 15px;

  text-align: left;

  position: absolute;
  right: calc(50% - 573px);
  top: 63px;

  padding-top: 28px;
  padding-bottom: 32px;
  padding-left: 25px;
  padding-right: 25px;
}

.map-contacts p {
  color: #323232;
  font-size: 14px;
  line-height: 20px;

  margin-bottom: 18px;
}

.map-contacts span {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 1px;
  width: 175px;
}

.map-contacts strong {
  font-size: 18px;
  line-height: 24px;
  display: block;
  width: 225px;
}

.map-contacts .tel {
  font-size: 18px;
  line-height: 30px;
}

.map-contacts .contacts-tel {
  margin-bottom: 23px;
}

.map-contacts .button {
  width: 100%;
  padding: 9px 23px;
}

.map .map-img {
  position: relative;
  background-image: url('../img/map.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 430px;
}

.map iframe {
  width: 100%;
  height: 430px;
}

.slider {
  position: relative;
  
  padding-top: 270px;
  margin-bottom: 42px;
  min-height: 482px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
#product-1:checked ~ .ssss {
  background-color: #dc5639;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url('../img/two_ice1.png');
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url('../img/two_ice2.png');
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url('../img/two_ice3.png');
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for='product-1'],
#product-2:checked ~ .site-wrapper label[for='product-2'],
#product-3:checked ~ .site-wrapper label[for='product-3'] {
  background-color: #ffffff;
}

.slider .button {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;

  padding-top: 9px;
  padding-bottom: 15px;
  
  border-radius: 93px;
  height: 62px;
  width: 278px;
  align-self: center;
}

.title-two-ice {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  width: 680px;
  min-height: 135px;

  margin: 0 auto;
  margin-bottom: 15px;

  align-self: center;
  text-decoration: none;
  color: #ffffff;
}

.main-contacts {
  text-align: right;
  position: relative;
  top: -5px;
}

.main-contacts p {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.main-contacts .tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.tel {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.news-and-subscription {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  margin-bottom: 39px;
}

.news {
  border-radius: 15px;
  min-height: 220px;
  width: 561px;
  background-color: #f8f7f4;
  background-image: url('../img/back_news.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 24px;
  padding-left: 19px;
  padding-right: 260px;
  padding-bottom: 20px;
}

.news h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 4px;
}

.news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: inherit;
}

.subscription {
  min-height: 220px;
  width: 561px;
  border: 5px solid #fe9e90;
  border-radius: 15px;
  border-image: url('../img/bg-post.svg') 5 round round;
  background-color: #f8f7f4;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 29px 22px;
}

.subscription form {
  padding-top: 36px;
}

.subscription p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.subscription-form {
  display: inline-block;
  vertical-align: middle;
}

.subscription-form input {
  width: 368px;
  margin-right: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 13px;
  border: 2px solid #d3d3d2;
  border-radius: 4px;
  height: 45px;
  cursor: text;
}

.subscription-form input:hover {
  border: 2px solid rgba(154,154,154,0.8);
  color: #323232;
}

.subscription .button {
  float: right;
  padding: 10px 18px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-bottom: 30px;
  padding-top: 12px;
}

.footer-hr {
  border-top: 1px solid #a9bbb1;
  padding-top: 18px;
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 250px;
  padding-left: 2px;
}

.social-button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: padding-box;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  font-size: 0;
  opacity: 0.8;

  margin-right: 13px;
  margin-bottom: 7px;
  
}

.social-button:hover,
.social-button:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.footer-socials .twitter {
  background-image: url('../img/twitter.svg');
}

.footer-socials .insta {
  background-image: url('../img/instagram.svg');
}

.footer-socials .fb {
  background-image: url('../img/fb.svg');
}

.footer-socials .vk {
  background-image: url('../img/vk.svg');
}

.footer-info {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

  width: 325px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  position: relative;
  padding-left: 7px;
  margin-bottom: 1px;
}

.footer-info li:nth-child(2n+1) {
  width: 45%;
}

.footer-info li {
  margin-bottom: 6px;
}

.footer-info a {
  border-bottom: 1px rgba(211, 211, 210, 0.2) solid;
  text-decoration: none;
}

.footer-info a:hover {
  border-bottom: 1px #ffbd9e4c solid;
  text-decoration: none;
}

.footer-info li:first-child::before {
  content: '';
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  top: 2px;
  left: -15px;
  background: url('../img/heart.svg') no-repeat 0 0;
  width: 17px;
  height: 17px;
}

.footer-copyright {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.html-academy {
  border-bottom: 1px rgba(211, 211, 210, 0.2) solid;
  text-decoration: none;
}

.html-academy:hover {
  border-bottom: 1px #ffbd9e4c solid;
  text-decoration: none;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  position: relative;
  top: -28px;

  margin-bottom: 40px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumb a {
  border-bottom: 1px rgba(211, 211, 210, 0.2) solid;
  text-decoration: none;
}

.breadcrumbs li {
  margin-right: 21px;
  position: relative;
}

.breadcrumbs li:last-child {
  margin-right: 0;
  cursor: default;
}

.breadcrumb::after {
  content: '»';
  color: #ffffff;
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  top: 0;
  right: -14px;
}

.filter-section {
  margin-bottom: 40px;
}

.filters-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  color: #fefefe;

  margin-bottom: 15px;
}

.filters-select {
  color: #ffffff;
  background-color: transparent;
  border: none;
  
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  padding-left: 9px;
  padding-right: 15px;
}

.filters-wrapper-select:hover .filters-select {
  color: #323232;
}

.filters-select option {
  color: #323232;
}

.filters-select::-ms-expand {
  display: none;
}

.icon-down {
  position: absolute;
  right: 13px;
  top: 13px;
  fill: #fefefe;
}

.icon-down path {
  fill: #fefefe;
}

.filters-wrapper-select:hover path {
  fill: #323232;
}

.filter-section label {
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 34px;
}

.radio-filter + label::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  border: 3.4px solid rgba(255,255,255,0.7);
  border-radius: 50%;
}

.radio-filter:checked + label::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 50%;

  position: absolute;
  left: 7px;
  top: 7px;
}

.radio-filter:checked:hover + label::after,
.radio-filter:checked:focus + label::after,
.radio-filter:hover + label::after,
.radio-filter:focus + label::after {
  border: 3.4px solid rgb(255, 255, 255);
}

.radio-filter:checked:hover + label::before,
.radio-filter:checked:focus + label::before,
.radio-filter:hover + label::before,
.radio-filter:focus + label::before {
  background-color: rgba(255, 255, 255, 1);
}

.checkbox-filter + label::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}

.checkbox-filter:checked + label::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 27px;
  height: 23px;
  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}

.checkbox-filter:checked:hover + label::before,
.checkbox-filter:checked:focus + label::before,
.checkbox-filter:hover + label::before,
.checkbox-filter:focus + label::before {
  opacity: 1;
}

.checkbox-filter:disabled + label::before,
.radio-filter:disabled + label::before,
.radio-filter:disabled + label::after {
  opacity: 0.1;
}

.checkbox-filter:disabled:hover + label::before,
.radio-filter:disabled:hover + label::before,
.radio-filter:disabled:hover + label::after {
  opacity: 0.1;
  cursor: not-allowed;
}

.filters-background {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 7px 12px;
  border-radius: 30px;
  text-align: center;
}

.filters-background-check {
  padding-left: 14px;
  padding-right: 16px;
}

.filters-wrapper-select {
  padding-left: 7px;
  padding-right: 17px;
  position: relative;
  cursor: pointer;
}

.filters-wrapper fieldset {
  border: none;
  padding: 0;
  margin-right: 15px;
}

.filters-wrapper legend {
  margin-bottom: 7px;
  padding-left: 15px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.fillers,
.fat {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fillers {
  width: 670px;
}

.fat {
  width: 385px;
}

.fat li,
.fillers li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.fillers li:last-child,
.fat li:last-child {
  margin-right: 0;
}

.button-filter {
  font: inherit;
  height: 36px;
  width: 144px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #fefefe;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  border: 2px solid #fefefe;
  cursor: pointer;

  display: inline-block;
  vertical-align: middle;
}

.button-filter:hover {
  color: #323232;
  border: none;
  background-color: #fefefe;
}

.button-filter:active {
  color: #323232;
  background-color: #eaeaea;
  border: none;
  box-shadow: inset 0px 1px 3px #000000;
}

.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.pagination .current {
  background-color: #f8f7f4;
  border-radius: 30px;
  border: none;
}

.pagination li:not([class$='page']) {
  padding: 3px 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-right: 4.5px;
  color: #f8f7f4;
}

.pagination li {
  cursor: pointer;
}

.pagination li:not([class$='page']):hover {
  background-color: #f8f7f42e;
  border-radius: 30px;
  color: #f8f7f4;
}

.pagination li:not([class$='page']):active {
  background-color: #f8f7f4;
  border-radius: 30px;
  opacity: 1;
  color: #323232;
}

.pagination li:nth-last-child(2) {
  margin-right: 0;
}

.pagination a {
  color: inherit;
}

.prev-page svg {
  transform: rotate(180deg);
}

.prev-page {
  padding-right: 15px;
}

.next-page path {
  fill: #f8f7f4;
}

.next-page {
  padding-left: 15px;
}

.current a {
  color: #323232;
}

.modal-subscription {
  position: fixed;
  background-color: #f8f7f4;
  width: 478px;
  height: 442px;
  padding: 25px;
  padding-top: 17px;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.6);

  top: 120px;
  left: 50%;
  margin-left: -237px;
  z-index: 30;
}

.modal-subscription h2 {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
}

.modal-subscription p {
  margin-bottom: 20px;
}

.modal-subscription input,
.modal-subscription textarea {
  padding: 9px;
  font: inherit;
  color: #323232;
  background-color: #ffffff;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
}

.modal-subscription input {
  width: 265px;
}

.modal-subscription textarea {
  width: 428px;
  height: 155px;
  resize: none;
}

.modal-subscription input:hover,
.modal-subscription textarea:hover {
  border: 2px solid rgba(154,154,154,0.8);
}

.modal-subscription .button {
  float: right;
  padding: 10px 25px;
}

.modal-subscription .close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 17px;
  font-size: 0;
  border: 0;
  cursor: pointer;

  background-color: transparent;
  background-image: url('../img/cross-big.svg');
  background-repeat: no-repeat;
  background-size: contain;

  content: '';
}

.ranges {
  position: relative;
}

.ranges .filters-background {
  width: 218px;
  height: 37px;
}

.range-controls {
  position: absolute;
  bottom: 17px;
  left: 17px;
}

.scale {
  width: 175px;
  height: 4px;
  background: rgba(255,255,255,.3);
  margin-left: 5px;
}

.bar {
  width: 103px;
  height: 4px;
  background: #fff;
  margin-left: 25px;
}

.range-toggle {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 18px;
}

.range-toggle-max {
  right: 44px;
}

.range-toggle-max::after {
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border-radius: 50%;
  content: '';
}

.range-toggle-min::after {
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border-radius: 50%;
  content: '';
}

.range-toggle-max:hover::after,
.range-toggle-min:hover::after {
  top: 9px;
  left: 9px;
}

.range-toggle-min:hover {
  top: -9px;
  left: 17px;
  width: 22px;
  height: 22px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-max:hover {
  top: -9px;
  right: 43px;
  width: 22px;
  height: 22px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.catalog-list,
.search,
.user-login,
.modal-subscription,
.basket-full {
  display: none;
}

@keyframes bounce {
  0%   { transform: translateY(-2000px); }
  70%  { transform: translateY(30px);    }
  90%  { transform: translateY(-10px);   }
  100% { transform: translateY(0);       }
}

.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

@keyframes shake {
  0%, 100%                { transform: translateX(0);     }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80%      { transform: translateX(10px);  }
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

.modal-subscription .error-input {
  border: 2px solid #e3382cc6;
}
